<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="application-name" content="phpBB" />
<meta name="msapplication-tooltip" content="phpBB &bull; Free and Open Source Forum Software" />
<meta name="msapplication-starturl" content="/" />
<meta name="msapplication-window" content="width=1024;height=768" />
<meta name="msapplication-task" content="name=Home; action-uri=/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Community; action-uri=/community/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Blog; action-uri=http://blog.phpbb.com/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Customise; action-uri=/customise/; icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Area51; action-uri=http://area51.phpbb.com/; icon-uri=favicon.ico" />

{META}
<title>phpBB &bull;
	<!-- IF S_IS_FORUM and SCRIPT_NAME eq 'index' -->Ideas Home<!-- ELSEIF S_IS_FORUM and SCRIPT_NAME eq 'search' -->Community Search<!-- ELSEIF S_IS_FORUM -->
	<!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}
	<!-- ELSE -->
	{PAGE_TITLE}<!-- ENDIF --></title>

<!-- IF S_ENABLE_FEEDS -->
<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_ENABLE_FEEDS and S_IS_FORUM -->
<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->

<!--
	phpBB style name: prosilver
	Based on style:		prosilver (this is the default phpBB3 style)
	Original author:	Tom Beddard ( http://www.subBlue.com/ )
	Modified by:

	NOTE: This page was generated by phpBB, the free open-source bulletin board package.
-->

<link href="{T_COMMUNITY_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{U_COMMUNITY_STYLESHEET}" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="assets/css/ideas.css" rel="stylesheet" type="text/css" />
<link href="{S_ROOT_PATH}theme/index.css?2014010600" rel="stylesheet" type="text/css" media="screen, projection" />
<link rel="shortcut icon" href="{S_ROOT_PATH}favicon.ico" type="image/vnd.microsoft.icon" />

<!--[if lt IE 9]>
    <script type="text/javascript" src="{S_ROOT_PATH}js/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script type="text/javascript" src="{S_ROOT_PATH}js/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="{S_ROOT_PATH}js/jquery-migrate-1.2.1.js"></script>

<script type="text/javascript" src="{S_ROOT_PATH}js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="{S_ROOT_PATH}js/jquery.qtip-1.0.0-rc3.min.js"></script>
<script type="text/javascript" src="{S_ROOT_PATH}js/scripts.js?2010011201"></script>

<script type="text/javascript">
	// <![CDATA[
	var jump_page = '{LA_JUMP_PAGE}:';
	var on_page = '{ON_PAGE}';
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';
	var style_cookie = 'phpBBstyle';
	var style_cookie_settings = '{A_COOKIE_SETTINGS}';
	var onload_functions = new Array();
	var onunload_functions = new Array();

	<!-- IF S_USER_PM_POPUP and S_NEW_PM -->
	var url = '{UA_POPUP_PM}';
	window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
	<!-- ENDIF -->

	<!-- IF S_IS_FORUM -->
	/**
	 * Find a member
	 */
	function find_username(url)
	{
		popup(url, 760, 570, '_usersearch');
		return false;
	}

	/**
	 * New function for handling multiple calls to window.onload and window.unload by pentapenguin
	 */
	window.onload = function()
	{
		for (var i = 0; i < onload_functions.length; i++)
		{
			eval(onload_functions[i]);
		}
	}

	window.onunload = function()
	{
		for (var i = 0; i < onunload_functions.length; i++)
		{
			eval(onunload_functions[i]);
		}
	}
	<!-- ENDIF -->
	// ]]>
</script>

<!--[if IE 6]>
<link href="{S_ROOT_PATH}theme/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

<script type="text/javascript">
	// <![CDATA[
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-93879-2']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	// ]]>
</script>

</head>

<body id="phpbb" class="{S_BODY_CLASS}<!-- IF S_IS_FORUM --> section-{SCRIPT_NAME}<!-- ENDIF --> {S_CONTENT_DIRECTION}"<!-- IF S_BODY_ONLOAD --> {S_BODY_ONLOAD}<!-- ENDIF -->>

<div id="wrap">
	<a id="top" name="top" accesskey="t"></a>
	<div id="page-header">
		<span class="side-left"></span>
		<div class="header" style="position: relative;">
			<h1 id="logo-banner"><a href="{U_HOME}">phpBB &bull; Free and Open Source Forum Software</a></h1>
			<div id="top-social"<!-- IF IN_HOME --> class="top-social-home"<!-- ENDIF -->>
			<div id="top-social-icons">
				<a href="{U_FEEDS_RSS}"><img src="{S_ROOT_PATH}theme/images/icons/rss-20.png?2011080900" alt="RSS" /></a>
				<a href="{U_FACEBOOK}"><img src="{S_ROOT_PATH}theme/images/icons/facebook-20.png?2012060700" alt="Facebook" /></a>
				<a href="{U_TWITTER}"><img src="{S_ROOT_PATH}theme/images/icons/twitter-20.png?2012060700" alt="Twitter" /></a>
				<div id="g-plusone-sltr" class="g-plusone"></div>
			</div>
		</div>
	</div>
	<span class="side-right"></span>
</div>

<div id="navbar">
	<ul>
		<li class="but-about">
			<a href="{U_ABOUT}"><span></span>About</a>
			<!-- IF not S_IS_BOT -->
			<div class="sub-menu sub-menu-extra">
				<ul>
					<li>
						<h4><a href="{U_ABOUT_FEATURES_SUB}">Features</a></h4>
						<p><a href="{U_ABOUT_FEATURES_SUB}">Learn about the features that phpBB has to offer.</a></p>
					</li>
					<li>
						<h4><a href="{U_DEMO}">Demo</a></h4>
						<p><a href="{U_DEMO}">Give phpBB a try with a fully-featured demo board.</a></p>
					</li>
					<li>
						<h4><a href="{U_SHOWCASE}">Showcase</a></h4>
						<p><a href="{U_SHOWCASE}">A showcase of popular and unique sites using phpBB.</a></p>
					</li>
					<li class="last">
						<h4><a href="{U_ABOUT_GETINVOLVED_SUB}">Get Involved</a></h4>
						<p><a href="{U_ABOUT_GETINVOLVED_SUB}">Learn how you can get involved with the project.</a></p>
					</li>
				</ul>
				<ul>
					<li>
						<h4><a href="{U_ABOUT_TEAM_SUB}">The Team</a></h4>
						<p><a href="{U_ABOUT_TEAM_SUB}">Find out who is responsible for all the mayhem.</a></p>
					</li>
					<li>
						<h4><a href="{U_ABOUT_CONTACT_SUB}">Contact Us</a></h4>
						<p><a href="{U_ABOUT_CONTACT_SUB}">Have a question the forums don't answer? Come here.</a></p>
					</li>
					<li class="last">
						<h4><a href="{U_ABOUT_ADVERTISE_SUB}">Advertising</a></h4>
						<p><a href="{U_ABOUT_ADVERTISE_SUB}">Information if you want to advertise on phpBB.com.</a></p>
					</li>
				</ul>
				<div class="sub-menu-bottom"><a href="{U_ABOUT_INDEX_SUB}">Find out more about the project &raquo;</a></div>

			</div>
			<!-- ENDIF -->
		</li>
		<li class="but-downloads<!-- IF S_DOWNLOADS_ACTIVE --> Active<!-- ENDIF -->"><a href="{U_DOWNLOADS}"><span></span>Downloads</a>
			<!-- IF not S_IS_BOT -->
			<div class="sub-menu">
				<ul>
					<li>
						<h4><a href="{U_DOWNLOADS_SUB}">Latest Version</a></h4>
						<p><a href="{U_DOWNLOADS_SUB}">Download the latest stable release of phpBB</a></p>
					</li>
					<li>
						<h4><a href="{U_DOWNLOADS_UPDATE_SUB}">Update Packages</a></h4>
						<p><a href="{U_DOWNLOADS_UPDATE_SUB}">Automatic Update packages for your phpBB release</a></p>
					</li>
					<li class="last">
						<h4><a href="{U_LANGUAGES_SUB}">Language Packs</a></h4>
						<p><a href="{U_LANGUAGES_SUB}">Translate phpBB into (almost) any language you like.</a></p>
					</li>
				</ul>
				<ul>
					<li>
						<h4><a href="{U_MODS_DB_SUB}">Modifications</a></h4>
						<p><a href="{U_MODS_DB_SUB}">Download validated MODs to extend phpBB&rsquo;s functionality.</a></p>
					</li>
					<li>
						<h4><a href="{U_STYLES_DB_SUB}">Styles</a></h4>
						<p><a href="{U_STYLES_DB_SUB}">Your forums need a new look? Browse our Styles DB.</a></p>
					</li>
					<li class="last">
						<h4><a href="{U_DEMO}">Demo</a></h4>
						<p><a href="{U_DEMO}">Give phpBB a try with a fully-featured demo board.</a></p>
					</li>

				</ul>
				<div class="sub-menu-bottom"></div>
			</div>
			<!-- ENDIF -->
		</li>
		<li class="but-customise"><a href="{U_CUSTOMISE}"><span></span>Customise</a>
			<!-- IF not S_IS_BOT -->
			<div class="sub-menu">
				<ul>
					<li>
						<h4><a href="{U_MODS_SUB}">Modifications</a></h4>
						<p><a href="{U_MODS_SUB}">Guides on how to use them and how to create your own.</a></p>
					</li>
					<li>
						<h4><a href="{U_MODS_DB_SUB}">Modification database</a></h4>
						<p><a href="{U_MODS_DB_SUB}">Download and submit your work to the MOD database.</a></p>
					</li>
					<li class="external last" title="Opens an external link.">
						<h4><a href="{U_DEV_WIKI_SUB}">Development Wiki</a></h4>
						<p><a href="{U_DEV_WIKI_SUB}">Share experience and learn more about the codebase.</a></p>
					</li>

				</ul>

				<ul>
					<li>
						<h4><a href="{U_STYLES_SUB}">Styles</a></h4>
						<p><a href="{U_STYLES_SUB}">Guides on how to use them and to create your own Styles.</a></p>
					</li>
					<li>
						<h4><a href="{U_STYLES_DB_SUB}">Styles database</a></h4>
						<p><a href="{U_STYLES_DB_SUB}">Download and submit your Styles to our Styles database.</a></p>
					</li>
					<li class="last">
						<h4><a href="{U_STYLES_DEMO_SUB}">Styles Demo</a></h4>
						<p><a href="{U_STYLES_DEMO_SUB}">Test drive all the Styles from our database.</a></p>
					</li>

				</ul>
				<div class="sub-menu-bottom"></div>
			</div>
			<!-- ENDIF -->
		</li>
		<li class="but-support"><a href="{U_SUPPORT}"><span></span>Support</a>
			<!-- IF not S_IS_BOT -->
			<div class="sub-menu sub-menu-extra">
				<ul>
					<li>
						<h4><a href="{U_DOCUMENTATION_SUB}">Documentation</a></h4>
						<p><a href="{U_DOCUMENTATION_SUB}">Installation guide and the complete documentation.</a></p>
					</li>
					<li>
						<h4><a href="{U_KB_SUB}">Knowledge Base</a></h4>
						<p><a href="{U_KB_SUB}">Team and user submitted ar&shy;ticles covering support areas.</a></p>
					</li>
					<li class="last"
					<h4><a href="{U_SUPPORT_TUTORIALS_SUB}">Flash Tutorials</a></h4>
					<p><a href="{U_SUPPORT_TUTORIALS_SUB}">View Flash Tutorials that help you with the use of phpBB.</a></p>
		</li>
	</ul>
	<ul>
		<li>
			<h4><a href="{U_SUPPORT_FORUMS_SUB}">phpBB Support</a></h4>
			<p><a href="{U_SUPPORT_FORUMS_SUB}">The Support related areas in our community forums.</a></p>
		</li>
		<li>
			<h4><a href="{U_SUPPORT_IRC_SUB}">IRC Support</a></h4>
			<p><a href="{U_SUPPORT_IRC_SUB}">Old school? Visit the IRC support channel on freenode.</a></p>
		</li>
		<li class="last">
			<h4><a href="{U_SUPPORT_INTL_SUB}">International Support</a></h4>
			<p><a href="{U_SUPPORT_INTL_SUB}">Find a 3rd party support site in your first language.</a></p>
		</li>
	</ul>
	<div class="sub-menu-bottom"><a href="{U_SUPPORT_INDEX_SUB}">More information on support &raquo;</a></div>
</div>
<!-- ENDIF -->
</li>
<li class="but-development"><a href="{U_DEVELOPMENT}"><span></span>Development</a>
	<!-- IF not S_IS_BOT -->
	<div class="sub-menu sub-menu-extra">
		<ul class="wide-menu">
			<li class="external wide-menu-item" title="Opens an external link.">
				<h4><a href="{U_DEV_HOME_SUB}">Area51 phpBB Development</a></h4>
				<img style="float:right;" src="{S_ROOT_PATH}theme/images/area51/alien32.png?2012220600" alt="Area51 Alien" />
				<p><a href="{U_DEV_HOME_SUB}">All Development Discussion takes place at Area51. Bug tracker, development wiki, continuous integration and other development tools are located here. Find out how to get involved in phpBB development.</a></p>
			</li>
		</ul>
		<ul>
			<li class="external" title="Opens an external link.">
				<h4><a href="{U_BUGS_PHPBB_SUB}">phpBB Bug Tracker</a></h4>
				<p><a href="{U_BUGS_PHPBB_SUB}">Report problems with phpBB here.</a></p>
			</li>
            <li>
                <h4><a href="{U_BUGS_SUB}">phpBB Projects Tracker</a></h4>
                <p><a href="{U_BUGS_SUB}">Report issues with the Website, Customisation Database, and Team Tools here</a></p>
            </li>
            <li class="last">
                <h4><a href="{U_IDEAS}">phpBB Ideas</a></h4>
                <p><a href="{U_IDEAS}">Suggest, vote on and comment on ideas for phpBB.</a></p>
            </li>
		</ul>
		<ul>
			<li>
				<h4><a href="{U_SECURITY_SUB}">Security Tracker</a></h4>
				<p><a href="{U_SECURITY_SUB}">The tracker for security issues in phpBB or validated MODs.</a></p>
			</li>
			<li class="external last" title="Opens an external link.">
				<h4><a href="{U_DEV_WIKI_SUB}">Development Wiki</a></h4>
				<p><a href="{U_DEV_WIKI_SUB}">Share experience and learn more about the codebase.</a></p>
			</li>
		</ul>
		<div class="sub-menu-bottom"><a href="{U_DEV_INDEX_SUB}">Participate in phpBB development now &raquo;</a></div>
	</div>
	<!-- ENDIF -->
</li>
<li class="but-blog"><a href="{U_BLOG}"><span></span>Blog</a></li>
<li class="but-community"><a href="{U_COMMUNITY}"><span></span>Community</a>
	<!-- IF not S_IS_BOT -->
	<div class="sub-menu sub-menu-extra">
		<ul>
			<li>
				<h4><a href="{U_FORUM_SUPPORT_SUB}">Support Forums</a></h4>
				<p><a href="{U_FORUM_SUPPORT_SUB}">Help with installation &amp; running phpBB &ndash; search first!</a></p>
			</li>
			<li>
				<h4><a href="{U_FORUM_MODS_SUB}">Modification Forums</a></h4>
				<p><a href="{U_FORUM_MODS_SUB}">Discuss and view MODs that are available for download.</a></p>
			</li>
            <li class="last">
                <h4><a href="{U_FORUM_STYLES_SUB}">Styles Forums</a></h4>
                <p><a href="{U_FORUM_STYLES_SUB}">Discuss and view Styles that are available for download.</a></p>
            </li>
		</ul>
		<ul>
			<li>
				<h4><a href="{U_FORUM_PHPBBDISC_SUB}">phpBB Discussion</a></h4>
				<p><a href="{U_FORUM_PHPBBDISC_SUB}">Discussions on all things phpBB: features, future, etc.</a></p>
			</li>
			<li>
				<h4><a href="{U_FORUM_GENDISC_SUB}">General Discussion</a></h4>
				<p><a href="{U_FORUM_GENDISC_SUB}">General discussion and intelligent conversations.</a></p>
			</li>
			<li class="external last" title="Opens an external link.">
				<h4><a href="{U_DEV_BOARD}">Area51</a></h4>
				<p><a href="{U_DEV_BOARD}">Bleeding edge testing and development discussion.</a></p>
			</li>
		</ul>
		<div class="sub-menu-bottom"><a href="{U_FORUM_INDEX_SUB}">&#0133; and many more forums &raquo;</a></div>
	</div>
	<!-- ENDIF -->
</li>
<li class="but-hosting"><a href="{U_HOSTING}"><span></span>Hosting</a></li>
<li id="searchbox">
	<fieldset>
		<!-- Google CSE Search Box Begins -->
		<form method="get" action="{U_GOOGLECSE}">
			<p><input name="q" id="q" type="text" size="40" value="{S_GOOGLECSE_STRING}" /></p>
		</form>
	</fieldset>
</li>
</ul>
</div>

<div id="page-body">

	<!-- IF not S_IS_WEBSITE -->
	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist navlinks">
				<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a> <strong>&#8249;</strong> <a href="{U_IDEAS_HOME}" accesskey="h">{L_IDEAS_HOME}</a></li>

				<!-- IF U_EMAIL_TOPIC --><li class="rightside"><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="sendemail">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_EMAIL_PM --><li class="rightside"><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="sendemail">{L_EMAIL_PM}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_TOPIC --><li class="rightside"><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_PM --><li class="rightside"><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print">{L_PRINT_PM}</a></li><!-- ENDIF -->
			</ul>

			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
			<ul class="linklist leftside">
				<li class="icon-ucp">
					<a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="e">{L_PROFILE}</a>
					<!-- IF S_DISPLAY_PM --> (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>)<!-- ENDIF -->
					<!-- IF S_DISPLAY_SEARCH --> &bull; <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><!-- ENDIF -->
					<!-- IF U_RESTORE_PERMISSIONS --> &bull; <a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
				</li>
			</ul>
			<!-- ENDIF -->

			<ul class="linklist rightside">
				<li class="icon-faq"><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
				<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH --><li class="icon-search"><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH}</a></li><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
				<!-- IF S_DISPLAY_MEMBERLIST --><li class="icon-members"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
				<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li class="icon-register"><a href="{U_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
				<li class="icon-logout"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a></li>
				<!-- ENDIF -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
	</div>

	<a name="start_here"></a>
	<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
	<div id="information">
		<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
			<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

	<div id="nojs" class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_JS_DISABLED}:</strong> {L_ENABLE_JS}
			<span class="corners-bottom"><span></span></span></div>
	</div>
	<script>document.getElementById('nojs').className = 'js';</script>
	<!-- ENDIF -->
