{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_PHPBB_IDEAS') }}</h1>

<p>{{ lang('ACP_PHPBB_IDEAS_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="acp_phpbb_ideas_settings" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_PHPBB_IDEAS_SETTINGS') }}</legend>
		<dl>
			<dt><label for="ideas_forum_id">{{ lang('ACP_IDEAS_FORUM_ID') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_IDEAS_FORUM_ID_EXPLAIN') }}</span></dt>
			<dd>{{ S_FORUM_SELECT_BOX }}</dd>
		</dl>

		<fieldset class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</fieldset>
</form>

<form id="acp_phpbb_ideas_forum_setup" method="post" action="{{ U_ACTION }}" data-ajax="true">
	<fieldset>
		<legend>{{ lang('ACP_IDEAS_UTILITIES') }}</legend>
		<dl>
			<dt><label for="ideas_forum_setup">{{ lang('ACP_IDEAS_FORUM_SETUP') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_IDEAS_FORUM_SETUP_EXPLAIN') }}</span></dt>
			<dd>
				<input class="button2" type="submit" id="ideas_forum_setup" name="ideas_forum_setup" value="{{ lang('RUN') }}" {{ not S_IDEAS_FORUM_ID ? 'disabled' }} />
			</dd>
		</dl>
	</fieldset>
</form>

{% include 'overall_footer.html' %}
