/* flex box classes */
.flex-box {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-grow {
	flex-grow: 1;
}

.flex-justify {
	justify-content: space-between;
}

.flex-align-end {
	align-items: flex-end;
}

.flex-align-center {
	align-items: center;
}

/* Common Styles */
dd.topics {
	text-align: left;
	width: auto;
	padding-left: 10px !important;
}

.rtl dd.topics {
	text-align: right;
	padding-right: 10px !important;
}

.fa-lightbulb-o {
	font-weight: 400 !important;
}

/* Vote buttons */
.minivote {
	line-height: normal;
	white-space: nowrap;
	border-radius: 6px;
	color: #ffffff !important;
	position: relative;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 80px;
	margin-right: 10px;
	padding: 6px 10px;
}

.minivote .icon {
	font-size: 16px;
	padding-right: 0;
	padding-left: 0;
}

.minivote .vote-count {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 40px;
}

.rtl .minivote {
	float: right;
	margin-right: auto;
	margin-left: 10px;
}

.vote-up,
.vote-up.vote-disabled:hover {
	background: #00a9e2;
	border: solid 1px #00a9e2;
}

.vote-up:hover {
	background: #009ad1;
}

.vote-up:active {
	background: #10b2e5;
}

.vote-down,
.vote-down.vote-disabled:hover {
	background: #f76c5e;
	border: solid 1px #f76c5e;
}

.vote-down:hover {
	background: #e56155;
}

.vote-down:active {
	background: #f87768;
}

.user-voted {
	font-size: 16px;
	color: #fffaf0;
	position: absolute;
	top: -4px;
	right: -4px;
}

.rtl .user-voted {
	right: auto;
	left: -4px;
}

/* Ideas Lists Styles */
.view-all {
	color: #536482;
	margin: 0.8em 0 0.2em;
}

.view-all:hover {
	color: #536482;
}

@media (min-width: 701px) and (max-width: 950px) {
	ul.topiclist dt {
		margin-right: -250px;
	}

	ul.topiclist dt .list-inner {
		margin-right: 250px;
	}
}

/* Idea Body Styles */
.idea-panel {
	font-size: 11px;
	width: 100%;
}

.idea-panel-inner {
	box-sizing: border-box;
	width: 400px;
	padding: 0 3px;
}

.votes,
.successvoted {
	font-weight: bold;
	border-radius: 4px;
	margin-top: 3px;
	padding: 6px;
}

.votes {
	display: inline-block;
}

.votes:active,
.votes:hover,
.votes:link,
.votes:visited {
	text-decoration: none;
}

.successvoted {
	display: none;
}

.voteslist {
	border-radius: 3px;
	display: none;
	margin-top: 6px;
	padding: 6px;
	list-style-type: none;
}

.voteslist ul,
.voteslist ul li {
	list-style: none;
}

.voteslist ul li:not(:first-child) {
	border-top: dashed 1px #b9b9b9;
}

.voteslist ul li {
	margin-left: 16px;
}

.voteslist ul li i {
	margin-left: -16px;
}

.rtl .voteslist ul li {
	margin-right: 16px;
	margin-left: 0;
}

.rtl .voteslist ul li i {
	margin-right: -16px;
	margin-left: 0;
}

.voteslist .fa-thumbs-up {
	color: #00a9e2;
}

.voteslist .fa-thumbs-down {
	color: #f76c5e;
}

.vote-disabled {
	cursor: default;
}

.vote-disabled:hover {
	text-decoration: none;
}

.vote-disabled.removevote {
	display: none;
}

.hidden {
	display: none;
}

.ideainput {
	display: none;
	width: 200px;
}

.status-item {
	min-height: 18px;
	margin: 4px 0;
}

.status-item a,
.status-item input {
	margin-left: 4px;
}

.status-badge {
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	padding: 3px 6px;
}

.status-badge a {
	color: #ffffff;
}

.status-badge a:hover {
	color: #ffffff;
}

.status-dropdown {
	margin-top: 8px;
}

.status-1 {
	background-color: #6495ed;
}

.status-2 {
	background-color: #9acd32;
}

.status-3 {
	background-color: #006400;
}

.status-4 {
	background-color: #daa520;
}

.status-5 {
	background-color: #b22222;
}
