a.votes {
	font-weight: bold;
	display: inline-block;
}

a.dead {
	cursor: text;
}

a.dead:hover {
	text-decoration: none;
}

a.dead.removevote {
	display: none;
}

.successvoted {
	font-weight: bold;
	display: none;
}

dd.topics {
	text-align: left;
	width: auto;
	padding-left: 10px !important;
}

.voteslist {
	display: none;
	list-style-type: none;
}

#rfceditinput {
	display: none;
	width: 360px;
}

#ticketeditinput {
	display: none;
	width: 160px;
}

#duplicateeditinput {
	display: none;
	width: 360px;
}

#titleeditinput {
	display: none;
	width: 320px;
}

.new-idea:before { background: url(images/new-idea.png); }
.new-idea:hover:before { background-position: 0 -20px; }

.minivoteup, .minivotedown {
	width: 65px;
	height: 25px;
	display: inline-block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
	margin-right: 10px;
	background: url(images/button-sprite.png) no-repeat;
}

.minivoteup span, .minivotedown span {
	display: inline-block;
	width: 40px;
	margin-left: 25px;
	margin-top: 5px;
	text-align: center;
	line-height: normal;
}

.minivoteup { background-position: 0 0; }
.minivoteup.voteup:hover { background-position: 0 -25px; }
.minivoteup.voteup:active { background-position: 0 -50px; }
.minivotedown { background-position: -65px 0; }
.minivotedown.votedown:hover { background-position: -65px -25px; }
.minivotedown.votedown:active { background-position: -65px -50px; }

.voteslist {
	display: none;
	padding: 6px;
	margin-top: 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.voteslist ul, .voteslist ul li { list-style: none; }

.view-all, .view-all:hover { color: #536482; }
