/* Common Styles */
dd.topics {
	text-align: left;
	width: auto;
	padding-left: 10px !important;
}

.ideamodbtn {
	margin: 0 5px 0 0;
}

.minivoteup,
.minivotedown {
	line-height: normal;
	white-space: nowrap;
	border-radius: 6px;
	color: #ffffff !important;
	position: relative;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 80px;
	margin-right: 10px;
	padding: 6px 10px;
}

.minivoteup .icon,
.minivotedown .icon {
	font-size: 16px;
	padding-right: 0;
	padding-left: 0;
}

.minivoteup span,
.minivotedown span {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 40px;
}

.minivoteup {
	background: rgb(128, 166, 52);
	background: linear-gradient(180deg, rgba(128, 166, 52, 1) 0%, rgba(114, 148, 46, 1) 100%);
	border: solid 1px #68872a;
}

.minivoteup:hover {
	background: rgb(143, 187, 57);
	background: linear-gradient(180deg, rgba(143, 187, 57, 1) 0%, rgba(115, 149, 46, 1) 100%);
}

.minivoteup:active {
	background: rgb(114, 148, 46);
	background: linear-gradient(180deg, rgba(114, 148, 46, 1) 0%, rgba(128, 166, 52, 1) 100%);
}

.minivoteup.dead:hover {
	background: rgb(128, 166, 52);
	background: linear-gradient(180deg, rgba(128, 166, 52, 1) 0%, rgba(114, 148, 46, 1) 100%);
}

.minivotedown {
	background: rgb(166, 42, 45);
	background: linear-gradient(180deg, rgba(166, 42, 45, 1) 0%, rgba(147, 37, 40, 1) 100%);
	border: solid 1px #862224;
}

.minivotedown:hover {
	background: rgb(183, 41, 44);
	background: linear-gradient(180deg, rgba(183, 41, 44, 1) 0%, rgba(148, 37, 40, 1) 100%);
}

.minivotedown:active {
	background: rgb(147, 37, 40);
	background: linear-gradient(180deg, rgba(147, 37, 40, 1) 0%, rgba(166, 42, 45, 1) 100%);
}

.minivotedown.dead:hover {
	background: rgb(166, 42, 45);
	background: linear-gradient(180deg, rgba(166, 42, 45, 1) 0%, rgba(147, 37, 40, 1) 100%);
}

.user-voted {
	font-size: 16px;
	color: #f5b041;
	position: absolute;
	top: -4px;
	right: -4px;
}

/* Ideas Lists Styles */
.view-all {
	color: #536482;
	float: right;
	margin: 0.8em 0 0.2em;
}

.view-all:hover {
	color: #536482;
}

.push-left {
	float: left;
}

@media (min-width: 701px) and (max-width: 950px) {
	ul.topiclist dt {
		margin-right: -250px;
	}

	ul.topiclist dt .list-inner {
		margin-right: 250px;
	}
}

/* Idea Body Styles */
.votes,
.successvoted {
	font-weight: bold;
	border-radius: 4px;
	padding: 6px;
}

.votes {
	display: inline-block;
	margin-top: 3px;
}

.successvoted {
	display: none;
}

.voteslist {
	border-radius: 3px;
	display: none;
	margin-top: 6px;
	padding: 6px;
	list-style-type: none;
}

.voteslist ul,
.voteslist ul li {
	list-style: none;
}

.voteslist ul li:not(:first-child) {
	border-top: dashed 1px #b9b9b9;
}

.dead {
	cursor: default;
}

.dead:hover {
	text-decoration: none;
}

.dead.removevote {
	display: none;
}

.hidden {
	display: none;
}

.idealabel {
	width: 10% !important;
}

.ideainput {
	display: none;
	width: 300px;
}

.status-badge {
	border-radius: 3px;
	color: #ffffff;
	padding: 3px 6px;
}

.status-badge:hover {
	color: #ffffff;
}

.status-1 {
	background-color: #6495ed;
}

.status-2 {
	background-color: #f08080;
}

.status-3 {
	background-color: #006400;
}

.status-4 {
	background-color: #daa520;
}

.status-5 {
	background-color: #b22222;
}

.idea-panel {
	line-height: 1.48em;
	width: 100%;
}

.rating {
	margin-top: 4px;
}
