<div class="action-bar bar-top">
	{% if not S_IS_BOT %}
		<a href="{{ U_POST_ACTION }}" class="button" title="{{ lang('NEW_IDEA') }}">
			<span>{{ lang('NEW_IDEA') }}</span><i class="icon fa-lightbulb-o fa-fw" aria-hidden="true"></i>
		</a>
	{% endif %}

	{% if S_DISPLAY_SEARCHBOX %}
		<div class="search-box" role="search">
			<form method="get" id="forum-search" action="{{ S_SEARCHBOX_ACTION }}">
				<fieldset>
					<input class="inputbox search tiny" type="search" name="keywords" id="search_keywords" size="20" placeholder="{{ lang('SEARCH_IDEAS') }}" />
					<button class="button button-search" type="submit" title="{{ lang('SEARCH') }}">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
					</button>
					<a href="{{ U_SEARCH }}" class="button button-search-end" title="{{ lang('SEARCH_ADV') }}">
						<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH_ADV') }}</span>
					</a>
					{{ S_SEARCH_IDEAS_HIDDEN_FIELDS }}
				</fieldset>
			</form>
		</div>
	{% endif %}

	{% if TOTAL_IDEAS %}
		<div class="pagination">
			{{ TOTAL_IDEAS }}
			{% if pagination %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}
</div>
