{% INCLUDEJS '@phpbb_ideas/ideas.js' %}
<noscript>
	<div class="rules">
		<div class="inner">
			<strong>{{ lang('JS_DISABLED') }}:</strong><br />{{ lang('ENABLE_JS') }}
		</div>
	</div>
</noscript>
<div class="panel">
	<div class="inner">
		<dl class="left-box details" style="width: 95%">
			<dt style="width: 15%">{{ lang('AUTHOR') ~ lang('COLON') }}</dt> <dd><strong>{{ IDEA_AUTHOR }}</strong></dd>
			<dt style="width: 15%">{{ lang('POSTED') ~ lang('COLON') }}</dt> <dd>{{ IDEA_DATE }}</dd>
			<dt style="width: 15%">{{ lang('RATING') ~ lang('COLON') }}</dt>
			<dd>
				<div class="rating">
					<a {% if S_CAN_VOTE %}href="{{ U_IDEA_VOTE }}"{% endif %} class="minivoteup {{ S_CAN_VOTE ? 'voteup' : 'dead' }}" title="{{ lang('VOTE_UP') }}" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('VOTE_ERROR') ~ lang('COLON') }}"><span>{{ IDEA_VOTES_UP }}</span></a> &nbsp;
					<a {% if S_CAN_VOTE %}href="{{ U_IDEA_VOTE }}"{% endif %} class="minivotedown {{ S_CAN_VOTE ? 'votedown' : 'dead' }}" title="{{ lang('VOTE_DOWN') }}" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('VOTE_ERROR') ~ lang('COLON') }}"><span>{{ IDEA_VOTES_DOWN }}</span></a>
					<a href="#" class="votes bg3" data-l-msg="{{ lang('CLICK_TO_VIEW') }}">{{ lang('TOTAL_POINTS', IDEA_POINTS) }} {{ IDEA_VOTES ? lang('CLICK_TO_VIEW') }}</a> <span class="successvoted" data-l-err="{{ lang('VOTE_FAIL') }}"></span>
				</div>
				<div class="clear"></div>
				<div class="voteslist bg3" data-display="{{ IDEA_VOTES ? 'true' : 'false' }}">
					<ul>
						<li id="up-voters"{% if votes_up is empty %} style="display:none;"{% endif %}>
							<strong>&#x25B2;{{ lang('COLON') }}</strong>
							<span>
								{% for vote_up in votes_up %}
									{{ vote_up.USER }}{% if not vote_up.S_LAST_ROW %}, {% endif %}
								{% endfor %}
							</span>
						</li>
						<li id="down-voters"{% if votes_down is empty %} style="display:none;"{% endif %}>
							<strong>&#x25BC;{{ lang('COLON') }}</strong>
							<span>
								{% for vote_down in votes_down %}
									{{ vote_down.USER }}{% if not vote_down.S_LAST_ROW %}, {% endif %}
								{% endfor %}
							</span>
						</li>
						{% if S_CAN_VOTE %}
							<li id="vote-remove"{% if S_VOTED == false %} style="display:none;"{% endif %}>
								<strong>&times;{{ lang('COLON') }}</strong> <a href="{{ U_REMOVE_VOTE }}" class="removevote" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('VOTE_ERROR') ~ lang('COLON') }}">{{ lang('REMOVE_VOTE') }}</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</dd>
			<dt style="width: 15%">{{ lang('STATUS') ~ lang('COLON') }}</dt>
			<dd>
				<a href="{{ IDEA_STATUS_LINK }}">{{ IDEA_STATUS }}</a>
				{% if STATUS_ARY %}&nbsp; <select id="status" data-url="{{ U_CHANGE_STATUS }}">
					<option value="0">{{ lang('CHANGE_STATUS') }}</option>
					{% for status, id in STATUS_ARY %}<option value="{{ id }}">{{ lang(status) }}</option>{% endfor %}
				</select>{% endif %}
			</dd>
			{% if IDEA_RFC or S_CAN_EDIT %}
				<dt style="width: 15%">{{ lang('RFC') ~ lang('COLON') }}</dt>
				<dd>
					<a id="rfclink" class="ideamodbtn" href="{{ IDEA_RFC }}"{% if not IDEA_RFC %} style="display:none"{% endif %}>{{ IDEA_RFC }}</a>
					{% if S_CAN_EDIT %}
						<a href="{{ U_EDIT_RFC }}" id="rfcedit" data-l-add="{{ lang('ADD') }}" data-l-edit="{{ lang('EDIT') }}">{% if IDEA_RFC %}{{ lang('EDIT') }}{% else %}{{ lang('ADD') }}{% endif %}</a>
						<input type="text" id="rfceditinput" class="ideainput" value="{{ IDEA_RFC }}" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('RFC_ERROR') }}" />
					{% endif %}
				</dd>
			{% endif %}
			{% if IDEA_TICKET or S_CAN_EDIT %}
				<dt style="width: 15%">{{ lang('TICKET') ~ lang('COLON') }}</dt>
				<dd>
					<a id="ticketlink" class="ideamodbtn" {% if IDEA_TICKET %}href="https://tracker.phpbb.com/browse/PHPBB3-{{ IDEA_TICKET }}">PHPBB3-{{ IDEA_TICKET }}{% else %}style="display:none">{% endif %}</a>
					{% if S_CAN_EDIT %}
						<a href="{{ U_EDIT_TICKET }}" id="ticketedit" data-l-add="{{ lang('ADD') }}" data-l-edit="{{ lang('EDIT') }}">{% if IDEA_TICKET %}{{ lang('EDIT') }}{% else %}{{ lang('ADD') }}{% endif %}</a>
						<input type="text" id="ticketeditinput" class="ideainput"{% if IDEA_TICKET %} value="PHPBB3-{{ IDEA_TICKET }}"{% endif %} placeholder="PHPBB3-#####" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('TICKET_ERROR') }}" />
					{% endif %}
				</dd>
			{% endif %}
			{% if IDEA_DUPLICATE or S_IS_MOD %}
				<dt class="duplicatetoggle" style="width: 15%; {% if IDEA_STATUS != lang('DUPLICATE') %}display:none{% endif %}">{{ lang('DUPLICATE') ~ lang('COLON') }}</dt>
				<dd class="duplicatetoggle" {% if IDEA_STATUS != lang('DUPLICATE') %}style="display:none"{% endif %}>
					<a id="duplicatelink" class="ideamodbtn" data-link="{{ U_IDEA_DUPLICATE }}" data-l-msg="{{ lang('VIEW_DUPLICATE') }}" {% if IDEA_DUPLICATE %}href="{{ U_IDEA_DUPLICATE }}">{{ lang('VIEW_DUPLICATE') }}{% else %}style="display:none">{% endif %}</a>
					{% if S_IS_MOD %}
						<a href="{{ U_EDIT_DUPLICATE }}" id="duplicateedit">{{ lang('SET') }}</a>
						<input type="text" id="duplicateeditinput" class="ideainput"{% if IDEA_DUPLICATE %} value="{{ IDEA_DUPLICATE }}"{% endif %} placeholder="###" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('TICKET_ERROR_DUP') }}" />
					{% endif %}
				</dd>
			{% endif %}
			{% if S_IS_MOD %}
				<dt style="width: 15%">{{ lang('MOD_IDEA') ~ lang('COLON') }}</dt>
				<dd>
					<a href="{{ U_DELETE_IDEA }}" data-ajax="true" data-refresh="true"><i class="fa fa-fw fa-trash-o"></i>{{ lang('DELETE') }}</a>&nbsp;
					<a href="{{ U_EDIT_TITLE }}" id="titleedit"><i class="fa fa-fw fa-pencil"></i>{{ lang('TITLE_EDIT') }}</a>
				</dd>
			{% endif %}
		</dl>
	</div>
</div>
