{% INCLUDEJS '@phpbb_ideas/ideas.js' %}
<noscript>
	<div class="rules">
		<div class="inner">
			<strong>{{ lang('JS_DISABLED') }}:</strong><br />{{ lang('ENABLE_JS') }}
		</div>
	</div>
</noscript>
<div class="panel">
	<div class="inner">
		<div class="idea-panel flex-box flex-wrap">
			<div class="idea-panel-inner flex-grow">
				<h3>{{ lang('VOTES') }}</h3>
				<div class="rating">
					<a {% if S_CAN_VOTE %}href="{{ U_IDEA_VOTE }}"{% endif %} class="minivote vote-up{{ not S_CAN_VOTE_UP ? ' vote-disabled' }}" title="{{ lang('VOTE_UP') }}" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('VOTE_ERROR') ~ lang('COLON') }}">{{ Icon('iconify', 'fa:check-circle', '', true, 'user-voted' ~ (not S_VOTED_UP ? ' hidden')) }}{{ Icon('iconify', 'fa:thumbs-up', '', true) }}<span class="vote-count">{{ IDEA_VOTES_UP }}</span></a> &nbsp;
					<a {% if S_CAN_VOTE %}href="{{ U_IDEA_VOTE }}"{% endif %} class="minivote vote-down{{ not S_CAN_VOTE_DOWN ? ' vote-disabled' }}" title="{{ lang('VOTE_DOWN') }}" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('VOTE_ERROR') ~ lang('COLON') }}">{{ Icon('iconify', 'fa:check-circle', '', true, 'user-voted' ~ (not S_VOTED_DOWN ? ' hidden')) }}{{ Icon('iconify', 'fa:thumbs-down', '', true) }}<span class="vote-count">{{ IDEA_VOTES_DOWN }}</span></a>
					<a href="#" class="votes bg3" data-l-msg="{{ lang('CLICK_TO_VIEW') }}">{{ lang('TOTAL_POINTS', IDEA_POINTS) }} {{ IDEA_VOTES ? lang('CLICK_TO_VIEW') }}</a> <span class="successvoted bg3" data-l-err="{{ lang('VOTE_FAIL') }}"></span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="idea-panel-inner flex-grow">
				<h3>{{ lang('STATUS') }}</h3>
				<div class="status-dropdown-container dropdown-container dropdown-{S_CONTENT_FLOW_END}">
					<span class="status-badge status-{{ IDEA_STATUS_ID }}">
						<a href="{{ U_IDEA_STATUS_LINK }}" id="status-link">{{ Icon('iconify', ideas_status_icon(IDEA_STATUS_ID), '', false) }}{{ IDEA_STATUS_NAME }}</a>
						{% if STATUS_ARY %}
							<a href="#" class="dropdown-trigger">{{ Icon('iconify', 'fa:caret-down', '', true) }}</a>
						{% endif %}
					</span>
					{% if STATUS_ARY %}
						<div class="status-dropdown dropdown">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents">
								{% for status, id in STATUS_ARY %}
									<li>
										<a href="{{ U_CHANGE_STATUS }}" data-status="{{ id }}" class="change-status">{{ Icon('iconify', ideas_status_icon(id), lang(status), false) }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
				{% if IDEA_RFC %}
					<div class="status-item flex-box flex-align-end">
						{{ lang('RFC') ~ lang('COLON') }}
						<a id="rfclink" href="{{ IDEA_RFC }}" style="{% if not IDEA_RFC %}display:none;{% endif %}overflow:hidden;text-overflow:ellipsis;white-space:nowrap;{% if S_CAN_EDIT %}max-width:75%;{% endif %}">{{ lang('RFC_LINK_TEXT') }}</a>
						{% if S_CAN_EDIT %}
							<a href="{{ U_EDIT_RFC }}" id="rfcedit""><span class="icon-edit{{ not IDEA_RFC ? ' hidden' }}">{{ Icon('iconify', 'fa:pencil', lang('EDIT'), false, 'icon-fix') }}</span><span class="icon-add{{ IDEA_RFC ? ' hidden' }}">{{ Icon('iconify', 'fa:plus-circle', lang('ADD'), false, 'icon-fix') }}</span></a>
							<input type="text" id="rfceditinput" class="ideainput" value="{{ IDEA_RFC }}" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('RFC_ERROR') }}" />
						{% endif %}
					</div>
				{% endif %}
				{% if IDEA_TICKET or S_CAN_EDIT %}
					<div class="status-item flex-box flex-align-end">
						{{ lang('TICKET') ~ lang('COLON') }}
						<a id="ticketlink" {% if IDEA_TICKET %}href="https://tracker.phpbb.com/browse/PHPBB3-{{ IDEA_TICKET }}">PHPBB3-{{ IDEA_TICKET }}{% else %}style="display:none">{% endif %}</a>
						{% if S_CAN_EDIT %}
						<a href="{{ U_EDIT_TICKET }}" id="ticketedit""><span class="icon-edit{{ not IDEA_TICKET ? ' hidden' }}">{{ Icon('iconify', 'fa:pencil', lang('EDIT'), false, 'icon-fix') }}</span><span class="icon-add{{ IDEA_TICKET ? ' hidden' }}">{{ Icon('iconify', 'fa:plus-circle', lang('ADD'), false, 'icon-fix') }}</span></a>
							<input type="text" id="ticketeditinput" class="ideainput"{% if IDEA_TICKET %} value="PHPBB3-{{ IDEA_TICKET }}"{% endif %} placeholder="PHPBB3-#####" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('TICKET_ERROR') }}" />
						{% endif %}
					</div>
				{% endif %}
				{% if IDEA_DUPLICATE or S_IS_MOD %}
					<div class="status-item flex-box flex-align-end duplicatetoggle" {% if IDEA_STATUS_ID != STATUS_ARY.DUPLICATE %}style="display:none"{% endif %}>
						{{ lang('DUPLICATE') ~ lang('COLON') }}
						<a id="duplicatelink" data-link="{{ U_IDEA_DUPLICATE }}" {% if IDEA_DUPLICATE %}href="{{ U_IDEA_DUPLICATE }}">{{ IDEA_DUPLICATE }}{% else %}style="display:none">{% endif %}</a>
						{% if S_IS_MOD %}
							<a href="{{ U_EDIT_DUPLICATE }}" id="duplicateedit""><span class="icon-edit{{ not IDEA_DUPLICATE ? ' hidden' }}">{{ Icon('iconify', 'fa:pencil', lang('EDIT'), false, 'icon-fix') }}</span><span class="icon-add{{ IDEA_DUPLICATE ? ' hidden' }}">{{ Icon('iconify', 'fa:plus-circle', lang('ADD'), false, 'icon-fix') }}</span></a>
							<div class="dropdown-container dropdown-{{ S_CONTENT_FLOW_END }}">
								<input
									type="text"
									name="duplicateeditinput"
									id="duplicateeditinput"
									value="{{ IDEA_DUPLICATE ? IDEA_DUPLICATE }}"
									placeholder="{{ lang('DUPLICATE_PLACEHOLDER') }}"
									class="ideainput"
									autocomplete="off"
									data-filter="phpbb.search.filter"
									data-ajax="idea_search"
									data-min-length="3"
									data-url="{{ U_TITLE_LIVESEARCH }}"
									data-results="#live-search"
									data-l-err="{{ lang('ERROR') }}"
									data-l-msg="{{ lang('TICKET_ERROR_DUP') }}"
								/>
								<div class="dropdown live-search hidden" id="live-search">
									<div class="pointer"><div class="pointer-inner"></div></div>
									<ul class="dropdown-contents search-results">
										<li class="search-result-tpl"><span class="search-result"></span></li>
									</ul>
								</div>
							</div>
						{% endif %}
					</div>
				{% endif %}
				{% if IDEA_IMPLEMENTED or S_IS_MOD %}
					<div class="status-item flex-box flex-align-end implementedtoggle" {% if IDEA_STATUS_ID != STATUS_ARY.IMPLEMENTED %}style="display:none"{% endif %}>
						{{ lang('IMPLEMENTED_VERSION') ~ lang('COLON') }}
						<span id="implementedversion"{% if not IDEA_IMPLEMENTED %} style="display:none;"{% endif %}>{{ IDEA_IMPLEMENTED }}</span>
						{% if S_IS_MOD %}
							<a href="{{ U_EDIT_IMPLEMENTED }}" id="implementededit""><span class="icon-edit{{ not IDEA_IMPLEMENTED ? ' hidden' }}">{{ Icon('iconify', 'fa:pencil', lang('EDIT'), false, 'icon-fix') }}</span><span class="icon-add{{ IDEA_IMPLEMENTED ? ' hidden' }}">{{ Icon('iconify', 'fa:plus-circle', lang('ADD'), false, 'icon-fix') }}</span></a>
							<input type="text" id="implementededitinput" class="ideainput"{% if IDEA_IMPLEMENTED %} value="{{ IDEA_IMPLEMENTED }}"{% endif %} placeholder="3.x.x" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('IMPLEMENTED_ERROR') }}" />
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="voteslist bg3" data-display="{{ IDEA_VOTES ? 'true' : 'false' }}">
			<ul>
				<li id="up-voters"{% if votes_up is empty %} style="display:none;"{% endif %}>
					{{ Icon('iconify', 'fa:thumbs-up', '', true, 'icon-tiny thumbs-up') }}
					<span>
						{% for vote_up in votes_up %}
							{{ vote_up.USER }}{% if not vote_up.S_LAST_ROW %}, {% endif %}
						{% endfor %}
					</span>
				</li>
				<li id="down-voters"{% if votes_down is empty %} style="display:none;"{% endif %}>
					{{ Icon('iconify', 'fa:thumbs-down', '', true, 'icon-tiny thumbs-down') }}
					<span>
						{% for vote_down in votes_down %}
							{{ vote_down.USER }}{% if not vote_down.S_LAST_ROW %}, {% endif %}
						{% endfor %}
					</span>
				</li>
				{% if S_CAN_VOTE %}
					<li id="vote-remove"{% if S_VOTED == false %} class="hidden"{% endif %}>
						{{ Icon('iconify', 'fa:times', '', true, icon-tiny) }} <a href="{{ U_REMOVE_VOTE }}" class="removevote" data-l-err="{{ lang('ERROR') }}" data-l-msg="{{ lang('VOTE_ERROR') ~ lang('COLON') }}">{{ lang('REMOVE_VOTE') }}</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
