<!-- INCLUDEJS @phpbb_ideas/ideas.js -->
<div class="panel">
	<div class="inner">
		<dl class="left-box details" style="width: 95%">
			<dt style="width: 15%">{L_AUTHOR}{L_COLON}</dt> <dd><strong>{IDEA_AUTHOR}</strong></dd>
			<dt style="width: 15%">{L_POSTED}{L_COLON}</dt> <dd>{IDEA_DATE}</dd>
			<dt style="width: 15%">{L_RATING}{L_COLON}</dt>
			<dd>
				<div class="rating">
					<a <!-- IF S_CAN_VOTE-->href="{U_IDEA_VOTE}"<!-- ENDIF --> class="minivoteup <!-- IF S_CAN_VOTE-->voteup<!-- ELSE -->dead<!-- ENDIF -->" title="{L_VOTE_UP}" data-l-err="{L_ERROR}" data-l-msg="{L_VOTE_ERROR}{L_COLON}"><span>{IDEA_VOTES_UP}</span></a> &nbsp;
					<a <!-- IF S_CAN_VOTE-->href="{U_IDEA_VOTE}"<!-- ENDIF --> class="minivotedown <!-- IF S_CAN_VOTE-->votedown<!-- ELSE -->dead<!-- ENDIF -->" title="{L_VOTE_DOWN}" data-l-err="{L_ERROR}" data-l-msg="{L_VOTE_ERROR}{L_COLON}"><span>{IDEA_VOTES_DOWN}</span></a>
					<a href="#" class="votes" data-l-msg="«{L_VIEW_VOTES}»">«{IDEA_POINTS}»</a> <span class="successvoted" data-l-err="{L_VOTE_FAIL}"></span>
				</div>
				<div class="clear"></div>
				<div class="voteslist bg3">
					<ul>
						<!-- IF .votes_up -->
						<li>
							<strong>&#x25B2;{L_COLON}</strong> <!-- BEGIN votes_up -->{votes_up.USER}<!-- IF not votes_up.S_LAST_ROW -->, <!-- ENDIF --><!-- END votes_up -->
						</li>
						<!-- BEGIN votes_up --><!-- IF votes_up.S_VOTED and S_CAN_VOTE --><li><a href="{U_REMOVE_VOTE}" class="removevote" data-l-err="{L_ERROR}" data-l-msg="{L_VOTE_ERROR}{L_COLON}">{L_REMOVE_VOTE}</a></li><!-- ENDIF --><!-- END votes_up -->
						<!-- ENDIF -->
						<!-- IF .votes_down -->
						<li>
							<strong>&#x25BC;{L_COLON}</strong> <!-- BEGIN votes_down -->{votes_down.USER}<!-- IF not votes_down.S_LAST_ROW -->, <!-- ENDIF --><!-- END votes_down -->
						</li>
						<!-- BEGIN votes_down --><!-- IF votes_down.S_VOTED and S_CAN_VOTE --><li><a href="{U_REMOVE_VOTE}" class="removevote" data-l-err="{L_ERROR}" data-l-msg="{L_VOTE_ERROR}{L_COLON}">{L_REMOVE_VOTE}</a></li><!-- ENDIF --><!-- END votes_down -->
						<!-- ENDIF -->
					</ul>
				</div>
			</dd>
			<dt style="width: 15%">{L_STATUS}{L_COLON}</dt>
			<dd>
				<a href="{IDEA_STATUS_LINK}">{IDEA_STATUS}</a>
				<!-- IF .statuses -->&nbsp; <select id="status" data-url="{U_CHANGE_STATUS}">
					<option value="0">{L_CHANGE_STATUS}</option>
					<!-- BEGIN statuses --><option value="{statuses.ID}">{statuses.NAME}</option><!-- END statuses -->
				</select><!-- ENDIF -->
			</dd>
			<!-- IF IDEA_RFC or S_CAN_EDIT -->
			<dt style="width: 15%">{L_RFC}{L_COLON}</dt>
			<dd>
				<a id="rfclink" class="ideamodbtn" href="{IDEA_RFC}"<!-- IF not IDEA_RFC --> style="display:none"<!-- ENDIF -->>{IDEA_RFC}</a>

				<!-- IF S_CAN_EDIT -->
				<a href="{U_EDIT_RFC}" id="rfcedit" data-l-add="{L_ADD}" data-l-edit="{L_EDIT}"><!-- IF IDEA_RFC -->{L_EDIT}<!-- ELSE -->{L_ADD}<!-- ENDIF --></a>
				<input type="text" id="rfceditinput" class="ideainput" value="{IDEA_RFC}" data-l-err="{L_ERROR}" data-l-msg="{L_RFC_ERROR}" />
				<!-- ENDIF -->
			</dd>
			<!-- ENDIF -->
			<!-- IF IDEA_TICKET or S_CAN_EDIT -->
			<dt style="width: 15%">{L_TICKET}{L_COLON}</dt>
			<dd>

				<a id="ticketlink" class="ideamodbtn" <!-- IF IDEA_TICKET -->href="https://tracker.phpbb.com/browse/PHPBB3-{IDEA_TICKET}">PHPBB3-{IDEA_TICKET}<!-- ELSE -->style="display:none"><!-- ENDIF --></a>

				<!-- IF S_CAN_EDIT -->
				<a href="{U_EDIT_TICKET}" id="ticketedit" data-l-add="{L_ADD}" data-l-edit="{L_EDIT}"><!-- IF IDEA_TICKET -->{L_EDIT}<!-- ELSE -->{L_ADD}<!-- ENDIF --></a>
				<input type="text" id="ticketeditinput" class="ideainput"<!-- IF IDEA_TICKET --> value="PHPBB3-{IDEA_TICKET}"<!-- ENDIF --> placeholder="PHPBB3-#####" data-l-err="{L_ERROR}" data-l-msg="{L_TICKET_ERROR}" />
				<!-- ENDIF -->
			</dd>
			<!-- ENDIF -->
			<!-- IF IDEA_DUPLICATE or S_IS_MOD -->
			<div class="duplicatetoggle" {% if IDEA_STATUS != lang('DUPLICATE') %}style="display:none"{% endif %}>
				<dt style="width: 15%">{L_DUPLICATE}{L_COLON}</dt>
				<dd>

					<a id="duplicatelink" class="ideamodbtn" data-link="{U_IDEA_DUPLICATE}" data-l-msg="{L_VIEW_DUPLICATE}" <!-- IF IDEA_DUPLICATE -->href="{U_IDEA_DUPLICATE}">{L_VIEW_DUPLICATE}<!-- ELSE -->style="display:none"><!-- ENDIF --></a>

					<!-- IF S_IS_MOD -->
					<a href="{U_EDIT_DUPLICATE}" id="duplicateedit">{L_SET}</a>
					<input type="text" id="duplicateeditinput" class="ideainput"<!-- IF IDEA_DUPLICATE --> value="{IDEA_DUPLICATE}"<!-- ENDIF --> placeholder="###" data-l-err="{L_ERROR}" data-l-msg="{L_TICKET_ERROR_DUP}" />
					<!-- ENDIF -->
				</dd>
			</div>
			<!-- ENDIF -->
			<!-- IF S_IS_MOD -->
			<dt style="width: 15%">{L_MOD_IDEA}{L_COLON}</dt>
			<dd>
				<a href="{U_DELETE_IDEA}" data-ajax="true" data-refresh="true"><i class="fa fa-fw fa-trash-o"></i>{L_DELETE}</a>&nbsp;
				<a href="{U_EDIT_TITLE}" id="titleedit"><i class="fa fa-fw fa-pencil"></i>{L_TITLE_EDIT}</a>
			</dd>
			<!-- ENDIF -->
		</dl>
	</div>
</div>
