<!-- BEGIN ideas -->
	<!-- IF ideas.S_FIRST_ROW  -->
		<div class="forumbg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt><div class="list-inner">{L_IDEAS}</div></dt>
							<dd class="posts">{L_RATING}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
	<!-- ENDIF -->
					<li class="row">
						<dl class="icon forum_<!-- IF not latest_ideas.READ -->un<!-- ENDIF -->read">
							<dt title="Read posts">
								<div class="list-inner">
									<a href="{ideas.LINK}" class="forumtitle">{ideas.TITLE}</a><br />
									by <strong>{ideas.AUTHOR}</strong> &raquo; {ideas.DATE}
								</div>
							</dt>

							<dd class="topics">
								<div class="minivoteup"><span>{ideas.VOTES_UP}</span></div>
								<div class="minivotedown"><span>{ideas.VOTES_DOWN}</span></div>
							</dd>
						</dl>
					</li>

	<!-- IF ideas.S_LAST_ROW -->
				</ul>
			</div>
		</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner">
			<strong>{L_NO_IDEAS}</strong>
		</div>
	</div>
<!-- END ideas -->
