<ul class="topiclist forums">
	{% for idea in ideas %}
		<li class="row">
			<dl class="row-item topic_{{ not idea.READ ? 'un' }}read{{ idea.LOCKED ? '_locked' }}">
				<dt title="{{ lang(idea.READ ? 'NO_UNREAD_POSTS' : 'UNREAD_POSTS') }}">
					{% if not idea.READ and not S_IS_BOT %}<a href="{{ idea.LINK }}?view=unread" class="row-item-link"></a>{% endif %}
					<div class="list-inner">
						<a href="{{ idea.LINK }}" class="forumtitle">{{ idea.TITLE }}</a>
						{% if idea.U_UNAPPROVED_IDEA %}
							<a href="{{ idea.U_UNAPPROVED_IDEA }}" title="{{ lang('TOPIC_UNAPPROVED') }}">
								<i class="icon fa-question fa-fw icon-blue" aria-hidden="true"></i><span class="sr-only">{{ lang('TOPIC_UNAPPROVED') }}</span>
							</a>
						{% endif %}
						<br />
						{{ lang('POST_BY_AUTHOR') }} <strong>{{ idea.AUTHOR }}</strong> &raquo; {{ idea.DATE }}
					</div>
				</dt>

				<dd class="topics"{% if idea.USER_VOTED !== '' %} title="{{ lang('USER_ALREADY_VOTED', idea.USER_VOTED) }}{% endif %}">
					<div class="minivoteup">
						<i class="icon fa {% if idea.USER_VOTED === 1 %}fa-thumbs-o-up{% else %}fa-thumbs-up{% endif %}"></i><span>{{ idea.VOTES_UP }}</span>
					</div>
					<div class="minivotedown">
						<i class="icon fa {% if idea.USER_VOTED === 0 %}fa-thumbs-o-down{% else %}fa-thumbs-down{% endif %}"></i><span>{{ idea.VOTES_DOWN }}</span>
					</div>
				</dd>
			</dl>
		</li>
	{% else %}
		<li>
			<div class="panel">
				<div class="inner">
					<strong>{{ lang('NO_IDEAS_DISPLAY') }}</strong>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
