{% macro ideas_section(title, ideas, view_url, icon_class, view_text) %}
	<div class="flex-box flex-align-end flex-justify">
		<h2>{{ title }}</h2>
		{% if ideas %}
			<a class="button view-all" href="{{ view_url }}"><i class="icon fa-fw {{ icon_class }}"></i> <span>{{ view_text }}</span></a>
		{% endif %}
	</div>
	<div class="forumbg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt><div class="list-inner">{{ lang('IDEAS') }}</div></dt>
						<dd class="posts">{{ lang('VOTES') }}</dd>
					</dl>
				</li>
			</ul>
			{% include '@phpbb_ideas/index_list.html' with {ideas: ideas} %}
		</div>
	</div>
{% endmacro %}

{% INCLUDECSS '@phpbb_ideas/ideas.css' %}

{% include 'overall_header.html' %}

<h2>{{ lang('IDEAS_TITLE') }}</h2>

{% include '@phpbb_ideas/action_bar_top.html' %}

{# TOP IDEAS #}
{{ _self.ideas_section(lang('TOP_IDEAS'), top_ideas, U_VIEW_TOP, 'fa-line-chart', lang('VIEW_TOP')) }}

{# LATEST IDEAS #}
{{ _self.ideas_section(lang('LATEST_IDEAS'), latest_ideas, U_VIEW_LATEST, 'fa-lightbulb-o', lang('VIEW_LATEST')) }}

{# IMPLEMENTED IDEAS #}
{{ _self.ideas_section(lang('IMPLEMENTED_IDEAS'), implemented_ideas, U_VIEW_IMPLEMENTED, 'fa-code-fork fa-flip-vertical', lang('VIEW_IMPLEMENTED')) }}

{# IN PROGRESS IDEAS #}
{{ _self.ideas_section(lang('IN_PROGRESS_IDEAS'), in_progress_ideas, U_VIEW_IN_PROGRESS, 'fa-clock-o', lang('VIEW_IN_PROGRESS')) }}

<div class="stat-block statistics">
	<h3>{{ lang('STATISTICS') }}</h3>
	<p>
		{{ lang('TOTAL_POSTED_IDEAS') }} <strong>{{ STATISTICS.total }}</strong> &bull; {{ lang('LIST_IMPLEMENTED') }} <strong>{{ STATISTICS.implemented }}</strong> &bull; {{ lang('LIST_IN_PROGRESS') }} <strong>{{ STATISTICS.in_progress }}</strong>
	</p>
</div>

{% include 'overall_footer.html' %}
