<ul class="topiclist forums">
	{% for idea in ideas %}
		<li class="row">

			<dl class="row-item">
				<dt>
					<a class="row-item-link{% if not idea.READ %} unread{% else %} read{% endif %}" href="{{ idea.LINK }}?view=unread">
						{{ Icon('iconify', {
							'mdi:lock' : idea.LOCKED,
							'mdi:file-document-outline' : true,
						}, '', true, 'c-forum-row-icon') }}
					</a>
					<div class="list-inner">
						<a href="{{ idea.LINK }}" class="forumtitle">{{ idea.TITLE }}</a>
						{% if idea.U_UNAPPROVED_IDEA %}
							<a href="{{ idea.U_UNAPPROVED_IDEA }}" title="{{ lang('TOPIC_UNAPPROVED') }}">
								{{ Icon('iconify', 'fa:question', lang('TOPIC_UNAPPROVED'), false, 'icon-blue') }}
							</a>
						{% endif %}
						<br>
						{{ lang('POST_BY_AUTHOR') }} <strong>{{ idea.AUTHOR }}</strong> &raquo; {{ idea.DATE }}
					</div>
				</dt>

				<dd class="topics"{% if idea.USER_VOTED !== '' %} title="{{ lang('USER_ALREADY_VOTED', idea.USER_VOTED) }}"{% endif %}>
					<div class="minivote vote-up vote-disabled">
						{{ Icon('iconify', 'fa:thumbs-up', '', true) }}<span class="vote-count">{{ idea.VOTES_UP }}</span>{% if idea.USER_VOTED === 1 %}{{ Icon('iconify', 'fa:check-circle', '', true, 'user-voted') }}{% endif %}
					</div>
					<div class="minivote vote-down vote-disabled">
						{{ Icon('iconify', 'fa:thumbs-down', '', true) }}<span class="vote-count">{{ idea.VOTES_DOWN }}</span>{% if idea.USER_VOTED === 0 %}{{ Icon('iconify', 'fa:check-circle', '', true, 'user-voted') }}{% endif %}
					</div>
				</dd>
			</dl>
		</li>
	{% else %}
		<li>
			<div class="panel">
				<div class="inner">
					<strong>{{ lang('NO_IDEAS_DISPLAY') }}</strong>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
