{% INCLUDECSS '@phpbb_ideas/ideas.css' %}

{% include 'overall_header.html' %}

<h2>{{ lang('IDEAS_TITLE') }}</h2>

{% include '@phpbb_ideas/action_bar_top.html' %}

{# TOP IDEAS #}
<div class="flex-box flex-align-end flex-justify">
	<h2>{{ lang('TOP_IDEAS') }}</h2>
	{% if top_ideas %}
		<a class="button view-all" href="{{ U_VIEW_TOP }}">{{ Icon('iconify', 'fa:line-chart', lang('VIEW_TOP'), false, 'c-button-icon') }}</a>
	{% endif %}
</div>
<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('IDEAS') }}</div></dt>
					<dd class="posts">{{ lang('VOTES') }}</dd>
				</dl>
			</li>
		</ul>
		{% set ideas = top_ideas %}
		{% include '@phpbb_ideas/index_list.html' %}
	</div>
</div>

{# LATEST IDEAS #}
<div class="flex-box flex-align-end flex-justify">
	<h2>{{ lang('LATEST_IDEAS') }}</h2>
	{% if latest_ideas %}
		<a class="button view-all" href="{{ U_VIEW_LATEST }}">{{ Icon('iconify', 'fa-regular:lightbulb', lang('VIEW_LATEST'), false, 'c-button-icon') }}</a>
	{% endif %}
</div>
<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('IDEAS') }}</div></dt>
					<dd class="posts">{{ lang('VOTES') }}</dd>
				</dl>
			</li>
		</ul>
		{% set ideas = latest_ideas %}
		{% include '@phpbb_ideas/index_list.html' %}
	</div>
</div>

{# IMPLEMENTED IDEAS #}
<div class="flex-box flex-align-end flex-justify">
	<h2>{{ lang('IMPLEMENTED_IDEAS') }}</h2>
	{% if implemented_ideas %}
		<a class="button view-all" href="{{ U_VIEW_IMPLEMENTED }}">{{ Icon('iconify', 'fa:code-fork', lang('VIEW_IMPLEMENTED'), false, 'c-button-icon') }}</a>
	{% endif %}
</div>
<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('IDEAS') }}</div></dt>
					<dd class="posts">{{ lang('VOTES') }}</dd>
				</dl>
			</li>
		</ul>
		{% set ideas = implemented_ideas %}
		{% include '@phpbb_ideas/index_list.html' %}
	</div>
</div>

<br><br>

{% include 'overall_footer.html' %}
