<!-- INCLUDECSS ../theme/ideas.css -->

<!-- INCLUDE overall_header.html -->

<h2>{STATUS_NAME}</h2>

<!-- INCLUDE idealist_body.html -->

<form action="{U_POST_ACTION}" method="get">
	<fieldset class="display-options">
		<label>{L_SHOW_W_STATUS} <select name="status" id="st">
		<option value="0">{L_ALL_IDEAS}</option>
		<!-- BEGIN status --><option value="{status.VALUE}"<!-- IF status.SELECTED --> selected="selected"<!-- ENDIF -->>{status.TEXT}</option><!-- END status -->
		</select></label>
		<label>
			{L_SORT_BY} <select name="sort" id="sk"><!-- BEGIN sortby --><option value="{sortby.VALUE}"<!-- IF sortby.SELECTED --> selected="selected"<!-- ENDIF -->>{sortby.TEXT}</option><!-- END sortby --></select>
		</label>
		<label>
			<select name="sd" id="sd">
				<option value="a"<!-- IF SORT_DIRECTION === 'ASC' --> selected="selected"<!-- ENDIF -->>{L_ASCENDING}</option>
				<option value="d"<!-- IF SORT_DIRECTION === 'DESC' --> selected="selected"<!-- ENDIF -->>{L_DESCENDING}</option>
			</select>
			<input type="submit" value="Go" class="button2" />
		</label>
	</fieldset>
</form>

<!-- IF S_USER_LOGGED_IN -->
<a href="posting.php" class="newidea"><span></span></a>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
