{% INCLUDECSS '@phpbb_ideas/ideas.css' %}

{% include 'overall_header.html' %}

<h2>{{ lang('IDEAS_TITLE') }} :: {{ STATUS_NAME }}</h2>

{% include 'action_bar_top.html' %}

{% for idea in ideas %}
	{% if idea.S_FIRST_ROW %}
		<div class="forumbg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="row-item">
							<dt><div class="list-inner">{{ lang('IDEAS') }}</div></dt>
							<dd class="posts">{{ lang('RATING') }}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
	{% endif %}
					<li class="row">
						<dl class="row-item forum_{{ not idea.READ ? 'un' }}read">
							<dt title="Read posts">
							<div class="list-inner">
								<a href="{{ idea.LINK }}" class="forumtitle">{{ idea.TITLE }}</a><br />
								by <strong>{{ idea.AUTHOR }}</strong> &raquo; {{ idea.DATE }}
							</div>
							</dt>

							<dd class="topics">
								<div class="minivoteup"><span>{{ idea.VOTES_UP }}</span></div>
								<div class="minivotedown"><span>{{ idea.VOTES_DOWN }}</span></div>
							</dd>
						</dl>
					</li>
	{% if idea.S_LAST_ROW %}
				</ul>
			</div>
		</div>
	{% endif %}
{% else %}
	<div class="panel">
		<div class="inner">
			<strong>{{ lang('NO_IDEAS_DISPLAY') }}</strong>
		</div>
	</div>
{% endfor %}

<form method="post" action="{{ U_LIST_ACTION }}">
	<fieldset class="display-options">
		{% if not S_IS_BOT %}
			<label>
				{{ lang('SHOW_W_STATUS') ~ lang('COLON') }} <select name="status" id="st">
					<option value="-1">{{ lang('ALL_IDEAS') }}</option>
					{% for status, id in STATUS_ARY %}
						<option value="{{ id }}"{% if id == STATUS %} selected="selected"{% endif %}>{{ lang(status) }}</option>
					{% endfor %}
				</select>
			</label>
			<label>
				{{ lang('SORT_BY') }} <select name="sort" id="sk">
					{% for sortby in SORT_ARY %}
						<option value="{{ sortby }}"{% if sortby == SORT %} selected="selected"{% endif %}>{{ lang(sortby|upper) }}</option>
					{% endfor %}
				</select>
			</label>
			<label>
				<select name="sd" id="sd">
					<option value="a"{% if SORT_DIRECTION == 'ASC' %} selected="selected"{% endif %}>{{ lang('ASCENDING') }}</option>
					<option value="d"{% if SORT_DIRECTION == 'DESC' %} selected="selected"{% endif %}>{{ lang('DESCENDING') }}</option>
				</select>
			</label>
			<input type="submit" value="{{ lang('GO') }}" class="button2" />
		{% endif %}
	</fieldset>
</form>
<hr />

<div class="action-bar bar-bottom">
	<div class="pagination">
		{{ lang('TOTAL_IDEAS', IDEAS_COUNT) }}
		{% if pagination %}
			{% include 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

<br />

{% include 'overall_footer.html' %}
