<fieldset class="fields1">
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

	<dl style="clear: left;">
		<dt><label for="title">{L_SUBJECT}{L_COLON}</label></dt>
		<dd><input type="text" name="title" id="title" size="45" tabindex="2" value="{TITLE}" class="inputbox autowidth" /></dd>
	</dl>

	<!-- INCLUDE posting_buttons.html -->

	<div id="smiley-box" class="smiley-box">
		<!-- EVENT posting_editor_smilies_before -->
		<!-- IF .smiley -->
		<strong>{L_SMILIES}</strong><br />
		<!-- BEGIN smiley -->
		<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
		<!-- END smiley -->
		<!-- ENDIF -->
		<!-- IF S_SHOW_SMILEY_LINK -->
		<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 750, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
		<!-- ENDIF -->
		<!-- EVENT posting_editor_smilies_after -->
		<!-- IF BBCODE_STATUS -->
		<div class="bbcode-status">
			<!-- IF .smiley --><hr /><!-- ENDIF -->
			{BBCODE_STATUS}<br />
			<!-- IF S_BBCODE_ALLOWED -->
			{IMG_STATUS}<br />
			{FLASH_STATUS}<br />
			{URL_STATUS}<br />
			<!-- ENDIF -->
			{SMILIES_STATUS}
		</div>
		<!-- ENDIF -->
		<!-- EVENT posting_editor_bbcode_status_after -->
		<!-- IF S_EDIT_DRAFT || S_DISPLAY_REVIEW -->
		<!-- IF S_DISPLAY_REVIEW --><hr /><!-- ENDIF -->
		<!-- IF S_EDIT_DRAFT --><strong><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></strong><!-- ENDIF -->
		<!-- IF S_DISPLAY_REVIEW --><strong><a href="#review">{L_TOPIC_REVIEW}</a></strong><!-- ENDIF -->
		<!-- ENDIF -->
	</div>

	<div id="message-box" class="message-box">
		<textarea name="desc" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{DESC}</textarea>
	</div>
</fieldset>

<div class="panel bg2">
	<div class="inner">
		<fieldset class="submit-buttons">
			{S_HIDDEN_ADDRESS_FIELD}
			{S_HIDDEN_FIELDS}
			<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="button1 default-submit-action" />

		</fieldset>

	</div>
</div>
