a.voteup, span.up {
	color: green;
}

a.votedown, span.down {
	color: red;
}

dd.topics:not(.bad) {
	width: 13%;
	vertical-align: top;
}

.voteslist {
	display: none;
	list-style-type: none;
}

#rfceditinput {
	display: none;
	width: 360px;
}

#ticketeditinput {
	display: none;
	width: 160px;
}

.js {
	display: none;
}

.newidea span {
	margin-top: 10px;
	display: inline-block;
	width: 88px;
	height: 25px;
	background-image: url(images/newidea.gif);
	background-position: 0 0;
}

.newidea:hover span {
	background-position: 0 25px;
}