<!-- INCLUDE overall_header.html -->

<h2>{L_VIEWING_IDEA} - {IDEA_TITLE}</h2>
<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>
	<dl class="left-box details" style="width: 95%;">
		<dt style="width: 15%">{L_AUTHOR}:</dt> <dd><strong>{IDEA_AUTHOR}</strong></dd>
		<dt style="width: 15%">{L_POSTED}:</dt> <dd>{IDEA_DATE}</dd>
		<dt style="width: 15%">{L_RATING}:</dt> <dd>{IDEA_RATING} ({IDEA_VOTES} {L_VOTES})</dd>
		<dt style="width: 15%">{L_DESC}:</dt> <dd style="width: 84%">{IDEA_DESC}</dd>
	</dl>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->
